<h1>Vos voitures</h1>

<%= image_tag "car", class: "car" %>

<%= link_to "Ajouter une voiture", new_voiture_path, id: "new_link", remote: true %>

<div id="voiture_list">
    <%= render @voitures %>
</div>
